body{
    margin: 0;
    padding:0;
    background-color: black;
}
nav{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: azure;
    color:yellow;
    width: 100%;
    height: 100px;
  
}
nav li{
    list-style: none;
    margin-top: 20px;
    margin-left:90px;
    font-size: larger;
    position: relative;
    line-height: 2;
    background-color: rgb(174, 112, 122);
    height: fit-content;
    border-radius: 20px;
    width: 100px;
    animation: choteSeBada 2s;
}
nav li:hover{
    background-color: black;
}
#gallary{
    margin: 30px;
    border:2px solid azure;
    text-align: center;
}
.subdiv{
    background-color: azure;
    padding: 10px;
    margin: 20px;
    transition: 10s;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-end: contain;
}
.subdiv:hover{
    cursor: pointer;
}
.box{
    border: 2px solid azure;
    width: calc(100% - 40px);
    height: 400px;

    overflow: hidden;
    position: relative;
    margin-left: 20px;
    box-sizing: border-box;
   
}
.content{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    color: white;
    transition:  all 1s;
    line-height: 10;
}
.content:hover{
    opacity: 1;
}
div div h4{
    background-color: black;
    border-radius: 3px;
    width: 100px;
    height: 20px;
    color: yellow;
    text-align: center;
    align-content: center;
    align-items: center;
    margin-left: calc(50% - 40px);
}
div div h4:hover{
    background-color: blue;
}
.box img{
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    overflow: hidden;
}
img::before{
    content: "g";
    background-color: blue;
    width: 100px;
    height: 100%;
    position: absolute;
    animation: rotate 4s linear infinite;
}
img::after{
        content: "g";
        background-color: blue;
        width: 100px;
        height: 100%;
        position: absolute;
        animation: rotate 4s linear infinite;
}
.box2 img{
    width: 200px;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@media  screen and (max-width: 600px) {
    nav{
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 80%;
        margin: 50px 50px;
        border-radius: 50px;
        background-color: azure;
        border: 10px solid yellow;
    }
    nav li{
        width: 100%;
        margin-left: initial;
        background-color:rgb(174, 112, 122);
    }
    .box{
        width: 90%;
        height: auto;
    }
    .content{
        line-height: 5;
    }
}

#gallary{
    animation: fade 2s;
}
@keyframes fade-in {
    from{
        scale: .7;
        opacity: 0.5;
        
    }
    to{
        scale: 1;
        opacity: 1;
        
    }
    
}

@keyframes fade {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
    
}

@keyframes choteSeBada {
    0%{
        scale: 0.5;
    }
    100%{
        scale:1
    }
}
