body{
    margin: 0;
    padding:0;
    background:linear-gradient(gray,blue,pink,red,black,white, #ea1d6f);
}
nav{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: azure;
    color:yellow;
    width: 100%;
    height: 100px;
  
}
nav li{
    list-style: none;
    margin-top: 20px;
    margin-left:90px;
    font-size: larger;
    position: relative;
    line-height: 2;
    background-color: rgb(174, 112, 122);
    height: fit-content;
    border-radius: 20px;
    width: 100px;
    animation: choteSeBada 3s;
}
nav li:hover{
    background-color: black;
}
#gallary{
    margin: 30px;
    border:2px solid azure;
    text-align: center;
}
.subdiv{
    background-color: azure;
    padding: 10px;
    margin: 20px;
    transition: 10s;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-end: contain;
}
.subdiv:hover,img{
    cursor: pointer;
}
.box{
    border: 2px solid azure;
    width: calc(100% - 40px);
    height: 400px;

    overflow: hidden;
    position: relative;
    margin-left: 20px;
    box-sizing: border-box;
   
}
.content{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    color: white;
    transition:  all 1s;
    line-height: 10;
}
.content:hover{
    opacity: 1;
}
div div h4{
    background-color: black;
    border-radius: 3px;
    width: 100px;
    height: 20px;
    color: yellow;
    text-align: center;
    align-content: center;
    align-items: center;
    margin-left: calc(50% - 40px);
}
div div h4:hover{
    background-color: blue;
}
.box img{
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    overflow: hidden;
}
.box2 img{
    width: 200px;
}
.testm{
    display: flex;
    align-items: center;
    justify-content: center;
}
.testm h6{
    color: wheat;
}
.testm div{
    margin: 30px;
    padding: 20px;
    width: 250px;
    height: fit-content;
    text-align: center;
    align-items: center;
    -ms-align-items:center;
    background-color:  #2C3447;
    box-shadow: 3px 2px 2px  #8a8787;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.testm div::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 140%;
    margin-top: -100px;
    z-index: -1;
    background: linear-gradient(red,yellow);
    animation: rotate 4s linear infinite;
}
.testm div::after{
    content: '';
    position: absolute;
    background:#2C3447 ;
    z-index: -1;
    inset: 5px;
}
.testm img{
    width: 60px;
    border: 4px solid goldenrod;
    border-radius: 50%;
}
.testm h3{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.cUs{
    width: 700px;
    height:fit-content;
    display: flex;
    justify-content: space-around;
    background:rgba(0,0,0) ;
    color: #ea1d6f;
    margin: auto;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 60px;
    margin-bottom: 100px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.cUs button{
    border-style: none;
    background-color: black;
    color: #ea1d6f;
    font-size: 1em;
    text-decoration: none;
}
.cUs button:hover{
    color: #b35c7f;
}
.cUs div h1{
    text-decoration: underline;
}
input{
    width: 200px;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #cec7c7;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s linear;
}
input::placeholder{
    color: rgb(199, 191, 191);
}
input:focus{
    border-bottom-color: #ea1d6f;
}


@media  screen and (max-width: 700px) {
    nav{
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 80%;
        margin: 50px auto;
        border-radius: 50px;
        background-color: azure;
        border: 10px solid yellow;
    }
    nav li{
        width: 100%;
        margin-left: initial;
        background-color:rgb(174, 112, 122);
    }
    .box{
        width: 90%;
        height: auto;
    }
    .content{
        line-height: 5;
    }
    .testm{
        flex-direction: column;
    }
    .cUs{
        width: 80%;
        height: fit-content;
        justify-content: center;
        flex-direction: column;
        padding-left: 20%;
    }
}
#gallary{
    animation: fade 2s;
}
@keyframes fade-in {
    from{
        scale: .7;
        opacity: 0.5;
        
    }
    to{
        scale: 1;
        opacity: 1;
        
    }
    
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

@keyframes choteSeBada {
    0%{
        scale: 0.5;
    }
    100%{
        scale:1
    }
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
